<div class="flex main-content">
    <nav class="side-nav" id="sideNav">
        <app-side-nav-bar></app-side-nav-bar>
    </nav>
    <div class="content" id="content-sec">
        <!-- Topbar Admin -->
        <div class="inner-topbar sidebar-left" id="nav-sticky">
            <button class="navbar-toggler pull-left res-btn-left" type="button" id="res-btn">
                <i class="ft-align-left"></i>
            </button>
        </div>

        <div class="container-fluid">


            <div class="d-flex flex-column flex-md-row align-items-center text-center text-md-left">

                <div class="breadcrumb-header justify-content-between">
                    <div class="row w-100">
                        <div class="col-md-12">
                            <h4 class="content-title mb-2">Hi, welcome back!</h4>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="">Contact</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> </li>
                                </ol>
                            </nav>
                        </div>

                    </div>

                </div>
            </div>



            <div class="row row-sm">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-0">Contact Details</h4>
                            <p class="sub-text">
                            </p>
                            <hr>
                            <section class="inner-section-gap">
                                <ul>
                                    <li><span><i class="ft-globe"></i></span><span class="content"> <a href="www.astromeda.in" target="_blank">www.astromeda.in</a></span></li>
                                    <li><span><i class="ft-mail"></i></span><span class="content">contact@astromeda.in</span></li>
                                    <li><span><i class="ft-phone"></i></span><span class="content">+91 85537 27320</span></li>
                                    <li><span><i class="ft-map-pin"></i></span><span class="content">#2, M162, 3rd Floor, 2nd Main Road,

                                        East of NGEF, Kasturi Nagar, Bengaluru,
                                        
                                        Karnataka - 560043</span></li>
                                </ul>
                            </section>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>