@media (min-width:1280px) {}

@media (max-width:1400px) {}

@media (max-width:1280px) {}

@media (max-width: 1100px) {
    .profile-menu .maximize {
        display: none;
    }
}

@media (max-width: 1020px) {}

@media (max-width:640px) {}

@media (max-width: 998px) {
    .side-nav {
        width: 250px;
        padding-right: 0;
        padding-bottom: 30px;
        overflow-x: hidden;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background-color: #FFF;
        z-index: 999;
        display: none;
        padding-top: 0px;
    }


    .res-close {
        display: block;
    }

    .sidebar-left .res-btn-left {
        margin-left: 0px !important;
    }

    .fixed-sidebar {
        position: relative;
        width: 250px;
    }

}



@media (max-width: 768px) {
    .login-right-bg {
        display: none;
    }

    .login-left {
        background-image: url(../images/login-right-bg.png);
        background-repeat: repeat-y;
        background-position: left;
        position: relative;
        color: #FFF;
    }

    .login-left .form-group {
        position: relative;
        z-index: 1;
    }


    .login-left::before {
        content: '';
        width: 162px;
        height: 415px;
        background-image: url(../images/bg1.png);
        background-repeat: no-repeat;
        background-position: left;
        left: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        z-index: 0;
    }

    .login-left::after {
        content: '';
        width: 200px;
        height: 300px;
        background-image: url(../images/bg2.png);
        background-repeat: no-repeat;
        background-position: left;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        background-size: 100%;
        z-index: 0;
    }

    .login-left small.error {
        width: 100%;
        color: #00ff3a;
        padding: 5px 0px;
    }

    .login-left h4 {
        color: #ffffff;
    }

    .login-left .form-control {
        color: #FFF;
    }

    .login-left .btn-success {
        background: #3dc71e;
        border-color: #155724;
        background-image: linear-gradient(to right, #005626, #00aa4c);
        position: relative;
        z-index: 1;
    }

    .login-left {
        padding: 20px 50px;
    }

    .rel-z-1 {
        position: relative;
        z-index: 1;
    }

    .breadcrumb {
        margin-bottom: 20px;
        text-align: center;
    }

    .breadcrumb-header .breadcrumb {
        background: linear-gradient(45deg, #e48edd, #f56b10);
        padding: 0;
        margin-bottom: 0;
        font-size: 13px;
        text-transform: uppercase;
        margin: 10px 0px 10px 25px;
        padding: 11px;
    }

    .main-content:after {
        content: "";
        height: 280px;
        background: linear-gradient(45deg, #e48edd, #f56b10);
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        left: 0;
    }

    .flex {
        display: block;
    }

    .res-table th,
    .res-table td {
        text-align: left;
        font-family: 'poppinsregular';
        font-size: 14px;
        padding: 5px;
        min-height: 30px;
        vertical-align: middle;
    }

}

@media (max-width: 680px) {}

@media (max-width: 600px) {
    .right-page .d-flex.col-md-6 {
        width: 50% !important;
    }

    .breadcrumb-header .breadcrumb {
        font-size: 11px;
    }

    .breadcrumb-header .content-title {
        color: #ffb500;
        font-size: 16px;
    }
}

@media (min-width: 300px) {}

@media (min-width:576px) {}

@media (max-width:576px) {}

@media (max-width:400px) {}